body {
    margin:0;

    font-size: 18px;
    color: #333;

    width: 100%;
}


*,
*:before,
*:after{
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}


/* Header */
.header{
    width: 100%;
    height: 80vh;
    background-image: url("../images/header_background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.header_logo{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_img{
    height: 100px;
    width: 75px;
    margin: 0 30px;
}

.logo_text{
    font-family: 'Poppins', sans-serif;
    color: red;
    font-size: 40px;
    margin: 0 30px;
}

.header_text_box{
    height: 165px;
    width: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    margin-left: 25%;
    margin-top: 75px;
}

.header_text{
    color: maroon;
    font-size: 54px;
    font-family: 'Poppins', sans-serif;
}


/* Content */
.main_content{
    width: 100%;
    height: 800px;
}

.main_text{
    height: 160px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    
    font-size: 22px;
    color: black;
    font-family: 'Poppins', sans-serif;
}

.proposition{
    display: flex;
    justify-content: center;
}

.berry_pie{
    width: 355px;
    height: 535px;
    margin-right: 60px;
}

.berry_text{
    color: white;
    background-color: #be0f34;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    
}

.meaningful_gifts{
    width: 355px;
    height: 535px;
    margin-left: 60px;
}

.gifts_text{
    color: white;
    background-color: #be0f34;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    
}

.read_more{
    width: 175px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25%;
    margin-top: 15px;
}

.read_more_button{
    text-decoration: none;
    color: #be0f34;
    border-radius: 15px;
    border: solid;
    padding: 15px 40px;

}

.read_more_button:hover{
    background-color: #be0f34;
    color: white;
    border: none;
    transition: 0.2s;
}


/* Socials */
.socials{
    width: 100%;
    height: 170px;
    background-color: #be0f34;
    overflow: auto;
}

.socials_text{
    font-size: 24px;
    color: white;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.socials_icons{
    display: flex;
    justify-content: center;
}

.footer__icon{
    display: flex;
}

.fa{
    border: 1px white;
    padding: 10px 5px;
    width: 60px;
    height: 60px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin: 25px 5px;
}
  
.fa:hover {
    opacity: 0.7;
    
}
  
.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}


/* Footer */
.footer{
    width: 100%;
    height: 210px;
    background-color: white;
    overflow: auto;
}

.footer_text_1{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
}

.footer_text_2{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-decoration: underline black;
    text-align: center;
    margin-top: 20px;
}